.app-root {
	height: 100vh;
}

.navbar {
  background-color: #546E7A;
}

.btn-help {
  font-weight: bold;
  font-size: 1.2em;
}

.btn-search {
  background-color: #607D8B;
  color: #FFFFFF;
}

.search-results-number {
  background-color: #546E7A; 
}

.search-results-table, .search-results-table-mobile{
  background-color: #f3f3f3;
}

.search-results-table tbody, .search-results-table-mobile tbody {
  height: 400px;
  overflow-y: auto;
  width: 100%;
}

.search-results-table thead,
.search-results-table tbody,
.search-results-table tr,
.search-results-table td,
.search-results-table th,
.search-results-table-mobile tbody {
  display: block;
}

.search-results-table tbody td {
  float: left;
  width: 8.33%;
}

.search-results-table thead tr th {
  float: left;
  background-color: #CFD8DC;
  width: 8.33%;
}

.search-results-table tbody td:nth-of-type(1),
.search-results-table thead tr th:nth-of-type(1) {
	width: 24.99%;
}

.search-results-table tbody td:nth-of-type(4),
.search-results-table thead tr th:nth-of-type(4) {
	width: 16.66%;
}

.search-results-table-mobile tbody tr {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em 0;
  border-bottom: 2px solid #CCCCCC
}

.search-results-table-mobile tbody tr:nth-of-type(odd) {
  background-color: #FFFFFF;
}

.search-results-table-mobile tbody th,
.search-results-table-mobile tbody td {
  width: 50%;
  padding: 0 2em;
  border-top: none;
}